
$font-default: 'Open Sans', sans-serif;;
$weight-text-bold: 700;
$weight-text-regular: 400;
$weight-text-light: 300;
$weight-text-thin: 100;
$line-height-text-l: 32px;
$line-height-text-m: 24px;
$line-height-text-s: 22px;
$line-height-text-xs: 20px;
$size-text-4xl: 36px;
$size-text-3xl: 32px;
$size-text-2xl: 24px;
$size-text-xl: 20px;
$size-text-l: 18px;
$size-text-m: 16px;
$size-text-s: 14px;
$size-text-xs: 12px;
$color-base-base: #ffffff;
$color-base-essential: #000000;
$color-base-project: #522915;
$color-base-success: #00985f;
$color-base-alert: #ff3333;
$color-base-warning: #ff9900;
$color-base-info: #03a9f4;
$breakpoints-xs: 599px;
$breakpoints-sm: 959px;
$breakpoints-md: 1263px;
$breakpoints-lg: 1903px;
